In [1]:
!pip install findspark
import findspark
findspark.init('C:\Spark\spark-3.5.0-bin-hadoop3')

Requirement already satisfied: findspark in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (2.0.1)

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from datetime import datetime, timedelta, date

In [3]:
spark = SparkSession.builder.getOrCreate()

In [9]:
df = spark.read.json('F:\\Course\\BigData\\DataSet\\20220401.json')

In [9]:
df.show(10)

+--------------------+-------+------+--------------------+-----+
|                 _id| _index|_score|             _source|_type|
+--------------------+-------+------+--------------------+-----+
|AX_momhia1FFivsGrn9o|history|     0|{KPLUS, HNH579912...|kplus|
|AX_momhca1FFivsGrnvg|history|     0|{KPLUS, HUFD40665...|kplus|
|AX_momhaa1FFivsGrnny|history|     0|{KPLUS, HNH572635...|kplus|
|AX_momhca1FFivsGrnvv|history|     0|{KPLUS, HND141717...|kplus|
|AX_momhia1FFivsGrn98|history|     0|{KPLUS, HNH743103...|kplus|
|AX_momg9a1FFivsGrnkS|history|     0|{KPLUS, HNH893773...|kplus|
|AX_momhca1FFivsGrnwA|history|     0|{KPLUS, HND083642...|kplus|
|AX_momhfa1FFivsGrn2u|history|     0|{KPLUS, DNFD74404...|kplus|
|AX_momhca1FFivsGrnwP|history|     0|{KPLUS, DTFD21200...|kplus|
|AX_momhca1FFivsGrnwU|history|     0|{KPLUS, LDFD05747...|kplus|
+--------------------+-------+------+--------------------+-----+
only showing top 10 rows

In [12]:
df.count()

1654519

In [5]:
df.printSchema()

root
 |-- _id: string (nullable = true)
 |-- _index: string (nullable = true)
 |-- _score: long (nullable = true)
 |-- _source: struct (nullable = true)
 |    |-- AppName: string (nullable = true)
 |    |-- Contract: string (nullable = true)
 |    |-- Mac: string (nullable = true)
 |    |-- TotalDuration: long (nullable = true)
 |-- _type: string (nullable = true)

In [6]:
df = df.select('_source.*')

In [9]:
df = df.withColumn("Type",
    when((col("AppName") == 'CHANNEL') | (col("AppName") == 'DSHD') | (col("AppName") == 'KPLUS') | (col("AppName") == 'KPlus'),"Truyền Hình")
    .when((col("AppName") == 'VOD') | (col("AppName") == 'FIMS_RES') | (col("AppName") == 'BHD_RES') | (col("AppName") == 'VOD_RES') |
           (col("AppName") == 'FIMS') | (col("AppName") == 'BHD') | (col("AppName") == 'DANET'),"Phim Truyện")
    .when((col("AppName") == 'RELAX'), "Giải Trí")
    .when((col("AppName") == 'CHILD'), "Thiếu Nhi")
    .when((col("AppName") == 'SPORT'), "Thể Thao")
    .otherwise("Error")
                   )

In [10]:
df.show()

+-------+---------+------------+-------------+-----------+
|AppName| Contract|         Mac|TotalDuration|       Type|
+-------+---------+------------+-------------+-----------+
|  KPLUS|HNH579912|0C96E62FC55C|          254|Truyền Hình|
|  KPLUS|HUFD40665|CCEDDC333614|         1457|Truyền Hình|
|  KPLUS|HNH572635|B068E6A1C5F6|         2318|Truyền Hình|
|  KPLUS|HND141717|08674EE8D2C2|         1452|Truyền Hình|
|  KPLUS|HNH743103|402343C25D7D|          251|Truyền Hình|
|  KPLUS|HNH893773|B84DEE76D3B8|          924|Truyền Hình|
|  KPLUS|HND083642|B84DEE849A0F|         1444|Truyền Hình|
|  KPLUS|DNFD74404|90324BB44C39|          691|Truyền Hình|
|  KPLUS|DTFD21200|B84DEED27709|         1436|Truyền Hình|
|  KPLUS|LDFD05747|0C96E6C95E53|         1434|Truyền Hình|
|  KPLUS|HNH063566|B84DEEDD1C85|          687|Truyền Hình|
|  KPLUS|HNH866786|10394E2790A5|          248|Truyền Hình|
|  KPLUS|NBAAA1128|10394E47C1AF|          247|Truyền Hình|
|  KPLUS|HNH960439|B84DEED34371|          683|Truyền Hình|
|  KPLUS|HNJ035736|CCD4A1FA86A5|          246|Truyền Hình|
|  KPLUS|NTFD93673|B84DEEEF4763|         2288|Truyền Hình|
|  KPLUS|HNJ063267|10394E172CA7|         2282|Truyền Hình|
|  KPLUS|HNH790383|4CEBBD53378B|          906|Truyền Hình|
|  KPLUS|THFD12466|5CEA1D893E1C|          242|Truyền Hình|
|  KPLUS|HNH566080|802BF9E0DDC0|          242|Truyền Hình|
+-------+---------+------------+-------------+-----------+
only showing top 20 rows

In [8]:
df.select('Type').distinct().show()

+-----------+
|       Type|
+-----------+
|Truyền Hình|
|  Thiếu Nhi|
|   Giải Trí|
|Phim Truyện|
|   Thể Thao|
+-----------+

In [27]:
df = df.select('Contract','Type','TotalDuration')

In [13]:
df.show()

+---------+-----------+-------------+
| Contract|       Type|TotalDuration|
+---------+-----------+-------------+
|HNH579912|Truyền Hình|          254|
|HUFD40665|Truyền Hình|         1457|
|HNH572635|Truyền Hình|         2318|
|HND141717|Truyền Hình|         1452|
|HNH743103|Truyền Hình|          251|
|HNH893773|Truyền Hình|          924|
|HND083642|Truyền Hình|         1444|
|DNFD74404|Truyền Hình|          691|
|DTFD21200|Truyền Hình|         1436|
|LDFD05747|Truyền Hình|         1434|
|HNH063566|Truyền Hình|          687|
|HNH866786|Truyền Hình|          248|
|NBAAA1128|Truyền Hình|          247|
|HNH960439|Truyền Hình|          683|
|HNJ035736|Truyền Hình|          246|
|NTFD93673|Truyền Hình|         2288|
|HNJ063267|Truyền Hình|         2282|
|HNH790383|Truyền Hình|          906|
|THFD12466|Truyền Hình|          242|
|HNH566080|Truyền Hình|          242|
+---------+-----------+-------------+
only showing top 20 rows

In [28]:
df = df.filter(df.Contract != '0')

In [ ]:
df.orderBy('Contract',ascending = True).show()

In [34]:
def pivot_data(df):
    TV = df.filter(df.Type == 'Truyền Hình')
    Movie = df.filter(df.Type == 'Phim Truyện')
    Relax = df.filter(df.Type == 'Giải Trí')
    Child = df.filter(df.Type == 'Thiếu Nhi')
    Sport = df.filter(df.Type == 'Thể Thao')
    TV = TV.withColumnRenamed('TotalDuration','TVDuration').drop('Type')
    Movie = Movie.withColumnRenamed('TotalDuration','MovieDuration').drop('Type')
    Relax = Relax.withColumnRenamed('TotalDuration','RelaxDuration').drop('Type')
    Child = Child.withColumnRenamed('TotalDuration','ChildDuration').drop('Type')
    Sport = Sport.withColumnRenamed('TotalDuration','SportDuration').drop('Type')
    output = TV.join(Movie,on='Contract',how='outer').\
        join(Relax,on='Contract',how='outer').\
            join(Child,on='Contract',how='outer').\
                join(Sport,on='Contract',how='outer')
    return output

In [35]:
result = pivot_data(df).show()

+--------------+----------+-------------+-------------+-------------+-------------+
|      Contract|TVDuration|MovieDuration|RelaxDuration|ChildDuration|SportDuration|
+--------------+----------+-------------+-------------+-------------+-------------+
|113.182.209.48|        20|         NULL|           89|         NULL|         NULL|
|113.182.209.48|        43|         NULL|           89|         NULL|         NULL|
|     AGAAA0338|      8895|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0342|        44|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0613|        83|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0638|       382|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0663|       344|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0693|      9370|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0718|     29103|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0723|        27|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0732|        13|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0750|        77|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0848|        41|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0849|        35|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0885|      6535|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0894|        17|         NULL|         NULL|         NULL|         NULL|
|     AGAAA0901|     28235|         NULL|         NULL|         NULL|         NULL|
|     AGAAA1047|        23|         NULL|         NULL|         NULL|         NULL|
|     AGAAA1306|        35|         NULL|         NULL|         NULL|         NULL|
|     AGAAA1316|      3890|         NULL|         NULL|         NULL|         NULL|
+--------------+----------+-------------+-------------+-------------+-------------+
only showing top 20 rows

In [5]:
#ĐỌC FILE DỮ LIỆU (FROM - TO):
def get_range_days(start_date, end_date):
    current_date = start_date
    date_list = []

    while current_date <= end_date:
        date_list.append(current_date.strftime("%Y-%m-%d"))
        current_date += timedelta(days=1)

    return date_list

In [6]:
from_date = date(2023,4,1)
to_date = date(2023,4,3)
day_range = get_range_days(from_date,to_date)
day_range

['2023-04-01', '2023-04-02', '2023-04-03']

In [7]:
for i in range(len(day_range)):
  day_range[i] = day_range[i].replace('-','')
day_range

['20230401', '20230402', '20230403']

In [22]:
for i in day_range:
  path = 'F:\\Course\\BigData\\DataSet\\' + f'{i}.json'
  print(path)
  #---- ETL----

F:\Course\BigData\DataSet\20230401.json
F:\Course\BigData\DataSet\20230402.json
F:\Course\BigData\DataSet\20230403.json